@tailwind base;
@tailwind components;
@tailwind utilities;
header{
    background-image: url(./img/Rectangle\ 1\ \(3\).png);
    height: 600px;
}
.teiop{
    background-image: url(./img/фоновое\ изображение.png);
    width: 380px; height: 500px;
}
.teiop1{
    background-image: url(./img/фоновое\ изображение\ \(1\).png);
    width: 380px; height: 500px;
}
.teiop2{
    background-image: url(./img/фоновое\ изображение\ \(1\).png);
    width: 380px; height: 500px;
}